body{
    background-color: #ff7f50;
    height: 100vh;
    width: 100%;
}
.head{
    color: #00008b;
}
#bglime{
    background-color: lime;
}
.red{
    color: red;
}
p{
    color: white;
}
#para{
    color: green;
}
.black-big{
    color: black;
    font-size: 20px;
}
.ul{
    color: white;
}
.blue{
    color: blue;
}