*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    font-size: 20px;
    font-weight: 700;
    color: #333;
    text-decoration: none;
}
.navbar{
    background-color: #fdfdfd;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.navbar-list{
    display: flex;
    list-style: none;
    justify-content:space-around;
    align-items: center;
}
.navbar-list li{
    margin: 0 10px;
    padding: 2px;
}
.navbar-list li a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
}
.main-container{
    /* min-height: 100vh; */
    /* min-width: 100%; */
}
.container{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* min-height: 100vh; */
    /* width: 100%; */
    background: #f5f6fa;
    padding: 20px 100px;
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 20px;
    color: #424a51;
}
.search{
    display: flex;
    border: none;
    border-radius: 10px;
}
.search:focus{
    outline: none;
}
.search-input{
    padding: 10px 15px;
    background: #e8f8fc;
    border: none;
    border-radius: 10px 0 0 10px;
    color: #93c3d8;
}
.exit{
    background: #f5cad7;
    padding: 10px 15px;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    color: #d57a96;
}
.right{
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* justify-content: center;
    align-items: center; */
    background: #ffffff;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
    width: 100%;
    height: 100%;
}
.left-item{
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
    position: relative;
}

.book-btn{
    background: #5862f9;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    width: 100%;
}
.form-item{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    width: 100%;
}
.form-input{
    border-radius: 10px;
    width: 100%;
    padding: 10px 20px;
    border: 0.5px solid #333;
}
.btns{
    display: flex;
    gap: 10px;
}
.skip-btn{
    padding: 15px 25px;
    background: #f5cad7;
    border: 0;
    border-radius: 10px;
    color: #d57a96;
}
.add-btn{
    padding: 15px 25px;
    background: #eaf5ea;
    border: 0;
    border-radius: 10px;
    color: #7dbd89;
    flex-grow: 1;
}
.left-top{
    display: flex;
    align-items: center;
}
.total{
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background: #ffffff;
    border-radius: 20px;
    width: 100%;
    bottom:0;
    background-color: #fff;
}
.list-item{
    overflow-y: scroll;
}
.cart-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.cart-list li{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #333;
    /* background-color: #; */
    list-style: none;
    width: 100%;
}
.theform{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.item-image{
    /* width: 100%; */
    /* height: 100%; */
    /* object-fit: cover; */
    border-radius: 20px;
}
.image {
    transition: transform 0.5s ease-in-out;
    animation: round 1s infinite;

  }
@keyframes round{
    0% {
        transform: translate(-10px, 0);
      }
    20%{
        transform: translate(0,-10px);
    }
    40% {
        transform: translate(10px,0);
      }
    60%{
        transform: translate(0,10px);
      }
      80%{
        transform: translate(-10px,0);
    }
      90%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(0.6);
    }
}